{% extends 'main/layout.html' %}

{% block main %}
<div class="flex self-center min-h-[63vh]">
    <form class="flex flex-col gap-4 items-center self-center justify-center max-h-fit" action="{% url 'accounts:signup' %}" method="post">
        {% csrf_token %}

        <div class="flex flex-col gap-4 min-w-full max-h-fit items-center justify-center">
            <input required type="name" name="username" placeholder="Username"
                class="border w-[300px] h-[34px] border-slate-300 rounded-sm px-3 focus:outline-indigo-500">
            {{formErrors.username}}
            <input required type="name" name="first_name" placeholder="Name"
            class="border w-[300px] h-[34px] border-slate-300 rounded-sm px-3 focus:outline-indigo-500">
            {{formErrors.first_name}}
            <input required type="name" name="last_name" placeholder="Last name"
            class="border w-[300px] h-[34px] border-slate-300 rounded-sm px-3 focus:outline-indigo-500">
            {{formErrors.last_name}}
            <input required type="email" name="email" placeholder="E-mail"
                class="border w-[300px] h-[34px] border-slate-300 rounded-sm px-3 focus:outline-indigo-500">
            {{formErrors.email}}
            <input required type="password" name="password1" placeholder="Password"
                class="border w-[300px] h-[34px] border-slate-300 rounded-sm px-3 focus:outline-indigo-500">
            {{formErrors.password1}}
            <input required type="password" name="password2" placeholder="Password confirmation"
                class="border w-[300px] h-[34px] border-slate-300 rounded-sm px-3 focus:outline-indigo-500">
            {{formErrors.password2}}
        </div>

        <div class="flex flex-row items-center justify-around m-2">
            <button type="submit"
                class="self-center px-3 w-[75px] h-[33px] font-semibold text-sm bg-sky-200 hover:bg-sky-300 text-sky-600 rounded-sm shadow-sm border border-sky-500">Sign
                up</button>
        </div>
        <div class="flex flex-row items-center justify-around m-2 gap-5">
            <p>Ya eres miembro? </p>
            <a href="{% url 'accounts:login' %}" class="h-full">
                <button type="button"
                    class="self-center px-3 w-[75px] h-[33px] font-semibold text-sm bg-sky-500 hover:bg-sky-400 text-white rounded-sm shadow-sm">Log
                    in</button>
            </a>
        </div>
    </form>
</div>
{% endblock %}