{% load static %}
<footer class="mt-auto w-full flex flex-col bottom-0">
    <hr>
    <section class="flex my-10 w-full">
        <div class="w-full">
            <div class="w-full flex flex-row justify-around">
                <div class="flex flex-col w-[70vw] gap-10 justify-center">
                    <h6 class="">
                        <img src="{% static 'Stack_underflow.png' %}" class="w-[150px] align-self-center" alt="">
                    </h6>
                    <p class="w-[40vw] text-gray-600">
                        We are students from www.coderhouse.com, and this is the final project.
                        <br> Trying to recreate the main functionalities of Stack Overflow using Django.
                    </p>
                </div>

                <div class="">
                    <h6 class="">Contact</h6>
                    <p>matias@pizzi.com.ar</p>
                    <p> +54 9 11 5062-5822</p>
                    <p>mtschvz@gmail.com</p>
                    <p> +54 9 351 642-0350</p>
                </div>
            </div>
        </div>
    </section>

    <div class="text-center p-4 w-full bg-slate-200">
        © 2022 Copyright:
        <a href="">stackunderflow.com</a>
    </div>
</footer>
<!-- Footer -->