{% load static %}
<footer class="w-full flex flex-col">
    <hr>
    <section class="flex my-10 w-full">
        <div class="w-full">
            <div class="w-full flex flex-row justify-around">
                <div class="flex flex-col w-[70vw] gap-10 justify-center">
                    <h6 class="">
                        <img src="{% static 'Stack_underflow.png' %}" class="w-[150px] align-self-center" alt="">
                    </h6>
                    <p class="w-[40vw]">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis soluta id modi dolorem, earum non necessitatibus voluptas totam quasi facilis suscipit sit distinctio! Perspiciatis provident veniam, voluptate totam ex tenetur.
                    </p>
                </div>

                <div class="">
                    <h6 class="">Contacto</h6>
                    <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        info@example.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                    <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                </div>
            </div>
        </div>
    </section>

    <div class="text-center p-4 w-full bg-slate-200">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="">stackunderflow.com</a>
    </div>
</footer>
<!-- Footer -->