<hr>
    <div class="flex flex-row w-full gap-2">
        <div class="pl-6 pt-6 text-xl flex flex-col items-center">
            <a href="{% url 'main:answerUpVote' answer.id %}"><svg xmlns="http://www.w3.org/2000/svg" fill="gray"
                    height="40" width="40">
                    <path d="M11.958 25.625 10 23.667l10-10 10 9.958-1.958 1.958-8.042-8Z" />
                </svg></a>
            {{answer.votes}}
            <a href="{% url 'main:answerDownVote' answer.id %}"><svg xmlns="http://www.w3.org/2000/svg" fill="gray"
                    height="40" width="40">
                    <path d="m20 25.625-10-10 1.958-1.958L20 21.708l8.042-8.041 1.958 2Z" />
                </svg></a>
        </div>
        <div class="flex flex-col max-w-[90%] w-full">
            <div class="flex flex-row">
                <div class="flex flex-col items-center w-full justify-between p-4 pr-7">
                    <div class="flex flex-row w-full justify-between">
                        <div class="w-full text-black py-4">
                            {{answer.body|safe}}
                        </div>
                    </div>
                    <div class="flex flex-row w-full items-center pt-3 justify-between border-t border-gray-300">
                        <p class="text-sm">{{answer.date}}</p>
                        <a href="{% url 'accounts:profile' answer.author %}" class="flex flex-row gap-2 items-center">
                            <img src="{{answer.author.avatar}}" alt="" class="w-6 h-6 object-cover rounded-sm">
                            <p class="text-blue-600 text-sm hover:text-blue-400"> {{ answer.author }}</p>
                        </a>
                        {% if answer.author == request.user or request.user.is_superuser %}
                        <div class="flex flex-row gap-2">
                            <a href="{% url 'main:editAnswer' answer.id %}" class="">
                                <button class="border border-gray-400 px-3 py-1 rounded-sm gap-1 flex text-xs items-center hover:shadow-xl hover:bg-gray-200 ">
                                    Edit
                                </button>
                            </a>
                            <a href="{% url 'main:deleteAnswer' answer.id %}" class="h-full">
                                <button class=" border border-red-400 px-3 py-1 rounded-sm gap-1 flex text-xs text-red-400 items-center hover:shadow-xl hover:bg-red-100">
                                    Delete
                                </button>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>