{% extends './layout.html' %}

{% block main %}
<div class="flex flex-col self-center w-[50vw] border-x min-h-[100%]">
    <div class="flex flex-row items-center">
        <div class="flex flex-col p-6 gap-1">
            <h1 class="text-2xl text-black">{{ post.title }}</h1>
            <p class="text-sm text-gray-500">Asked {{ post.date }}</p>
        </div>
        {% if post.author == user %}
        <div class="flex flex-row justify-end gap-2 h-fit pr-3">
            <a href="{% url 'main:editPost' post.id %}" class="self-end flex flex-row">
                <button class="self-center items-center flex flex-row px-3 py-1 font-semibold text-sm hover:bg-sky-400 bg-sky-300 text-white rounded-sm shadow-sm border border-sky-500"><svg xmlns="http://www.w3.org/2000/svg" fill="white" height="24" width="24"><path d="M5 19h1.4l8.625-8.625-1.4-1.4L5 17.6ZM19.3 8.925l-4.25-4.2 1.4-1.4q.575-.575 1.413-.575.837 0 1.412.575l1.4 1.4q.575.575.6 1.388.025.812-.55 1.387ZM17.85 10.4 7.25 21H3v-4.25l10.6-10.6Zm-3.525-.725-.7-.7 1.4 1.4Z"/></svg>Edit</button>
            </a>
            <a href="{% url 'main:deletePost' post.id %}" class="text-blue-500">
                <button type="submit"
                    class="self-center h-full px-3 py-1 font-semibold text-sm bg-red-300 hover:bg-red-400 text-white rounded-sm shadow-sm border border-red-400">Delete</button>
            </a>
        </div>
        {% endif %}
    </div>
    <hr>
    <div class="flex flex-col py-3 px-6">
        <div class="flex flex-col">
            <div class="text-gray-700 p-2">
                {{post.description|safe}}
            </div>
        </div>
        <div class="flex flex-row">
            <div class="flex flex-row items-center w-full justify-between pt-4">
                <div class="flex flex-row justify-between gap-1">
                    {% for tag in post.tags.all %}
                        <a href="{% url 'main:tagged' tag %}">
                            <p class="text-slate-400 text-xs rounded-sm p-1 bg-slate-200 hover:bg-slate-300 self-end">
                                {{ tag }}
                            </p>
                        </a>
                    {% endfor %}
                </div>
                <div class="flex flex-col">
                    <a href="{% url 'accounts:profile' post.author %}" class="text-black flex gap-1 flex-row items-center gap-2">
                        <img src="{{ post.author.avatar }}" class="h-6 w-6 object-cover rounded-sm" alt="">
                        <p class="text-blue-600 text-sm hover:text-blue-400"> {{ post.author.username }}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div>
            {% block answerForm %}
            {% endblock %}

    </div>
    <hr>
    {% if answers %}
    <h2 class="text-xl text-black px-10 py-3">Answers</h2>
    {% for answer in answers %}
    <hr>
    <div class="flex flex-row items-center w-full gap-2">
        <div class="pl-6 text-xl flex flex-col justify-center items-center">
            <a href="{% url 'main:answerUpVote' answer.id %}"><svg xmlns="http://www.w3.org/2000/svg" fill="gray" height="40" width="40"><path d="M11.958 25.625 10 23.667l10-10 10 9.958-1.958 1.958-8.042-8Z"/></svg></a>
            {{answer.votes}}
            <a href="{% url 'main:answerDownVote' answer.id %}"><svg xmlns="http://www.w3.org/2000/svg" fill="gray" height="40" width="40"><path d="m20 25.625-10-10 1.958-1.958L20 21.708l8.042-8.041 1.958 2Z"/></svg></a>
        </div>
        <div class="flex flex-col w-full">
            <div class="flex flex-col">
            </div>
            <div class="flex flex-row">
                <div class="flex flex-col items-center w-full justify-between p-4 pr-7">
                    <div class="flex flex-row w-full justify-between">
                        <div class="flex flex-col w-full gap-1 text-black">
                            {{answer.body|safe}}
                        </div>
                        <div class="flex flex-row gap-2">
                            <a href="{% url 'main:editAnswer' answer.id %}" class="">
                                <button class="h-9 border border-gray-400 px-3 py-1 rounded-md gap-1 flex text-sm items-center hover:shadow-xl hover:bg-gray-200 "><svg xmlns="http://www.w3.org/2000/svg" fill="gray" height="24" width="24"><path d="M5 19h1.4l8.625-8.625-1.4-1.4L5 17.6ZM19.3 8.925l-4.25-4.2 1.4-1.4q.575-.575 1.413-.575.837 0 1.412.575l1.4 1.4q.575.575.6 1.388.025.812-.55 1.387ZM17.85 10.4 7.25 21H3v-4.25l10.6-10.6Zm-3.525-.725-.7-.7 1.4 1.4Z"/></svg>Edit</button></a>
                            <a href="{% url 'main:deleteAnswer' answer.id %}" class="h-full">
                                <button class="h-9 border border-red-400 px-3 py-1 rounded-md gap-1 flex text-sm text-red-400 items-center hover:shadow-xl hover:bg-red-200">Delete</button></a>
                        </div>
                    </div>
                    <div class="flex flex-row w-full items-center pt-3 justify-between">
                        <p class="text-sm">{{answer.date}}</p>
                        <a href="" class="flex flex-row gap-2 items-center">
                            <img src="{{answer.author.avatar}}" alt="" class="w-6 h-6 object-cover rounded-sm">
                            <p class="text-blue-600 text-sm hover:text-blue-400"> {{ answer.author }}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
<hr>
</div>
{% endblock %}